---
layout: layouts/page.njk
---

{% import 'icons/devicons.njk' as devicons %}

<h1>Sobre mim</h1>

TODO

<div class="skill">
	{{ devicons.plain('java') }}
	<span>Java</span>
</div>

<h2>Certificações</h2>

<h2>Experiência profissional</h2>

<h2>Formação acadêmica</h2>