<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title + " - Carlos Rodrigues" if title else "Carlos Rodrigues" }}</title>
	<link rel="stylesheet" href="/assets/main.css">
	<link rel="stylesheet" href="/assets/prism-gruvbox-dark.css">
	{% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap' %}
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	<link rel="manifest" href="/static/site.webmanifest">

	{% if analytics.plausible.base_url and env.env === 'production' %}
		<script async defer data-domain="{{ analytics.plausible.data_domain }}" src="{{ analytics.plausible.base_url }}js/plausible.js"></script>
	{% endif %}

</head>
<body>
	{{ content | safe }}

	{% if analytics.shynet.base_url and env.env === 'production' %}
		<noscript>
			<img src="{{ analytics.shynet.base_url }}ingress/{{ analytics.shynet.id }}/pixel.gif">
		</noscript>
		<script defer src="{{ analytics.shynet.base_url }}ingress/{{ analytics.shynet.id }}/script.js"></script>
	{% endif %}
</body>
</html>