---
layout: layouts/base.njk
title: Carlos Rodrigues
---

<main class="my-auto p-4">
	<h1 class="text-4xl mb-12">
		Olá, meu nome é <strong class="text-primary font-bold">Carlos</strong>, e sou <strong class="text-primary font-bold">Desenvolvedor de Sistemas</strong>.
	</h1>

	{% include 'components/social-navbar.njk' %}
</main>