---
permalink: /keybase.txt
layout: null
eleventyExcludeFromCollections: true
---
==================================================================
https://keybase.io/crodrigues
--------------------------------------------------------------------

I hereby claim:

  * I am an admin of https://crodrigues.dev
  * I am crodrigues (https://keybase.io/crodrigues) on keybase.
  * I have a public key ASCX8TPQoAsSm9XtkKXMvtzlnTIAd4LSevFBsMyOUTb_AQo

To do so, I am signing this object:

{
  "body": {
    "key": {
      "eldest_kid": "012097f133d0a00b129bd5ed90a5ccbedce59d32007782d27af141b0cc8e5136ff010a",
      "host": "keybase.io",
      "kid": "012097f133d0a00b129bd5ed90a5ccbedce59d32007782d27af141b0cc8e5136ff010a",
      "uid": "e281b3025ec557a1d2cabed6899fa619",
      "username": "crodrigues"
    },
    "merkle_root": {
      "ctime": 1633529998,
      "hash": "c3429219d18c695aa2d9b299883aa656774cd493c4421f02740d382a956565ca3f8c249094808ea8fd4a1ef7a4b979f7a804b29fb205797c7fa924121b5dfeb7",
      "hash_meta": "62c38e8fd4aaaa22f8aaeac01dd59e56dfac09ad5a85669afc2a839b7d6bcbf7",
      "seqno": 20925874
    },
    "service": {
      "entropy": "2ZzpXBwsYeaVesHk35cp9Cus",
      "hostname": "crodrigues.dev",
      "protocol": "https:"
    },
    "type": "web_service_binding",
    "version": 2
  },
  "client": {
    "name": "keybase.io go client",
    "version": "5.8.0"
  },
  "ctime": 1633530053,
  "expire_in": 504576000,
  "prev": "3333848f708ce8e2876414ec2b4d1979adbd87af39deff40f6403e516205fb0a",
  "seqno": 5,
  "tag": "signature"
}

which yields the signature:

hKRib2R5hqhkZXRhY2hlZMOpaGFzaF90eXBlCqNrZXnEIwEgl/Ez0KALEpvV7ZClzL7c5Z0yAHeC0nrxQbDMjlE2/wEKp3BheWxvYWTESpcCBcQgMzOEj3CM6OKHZBTsK00Zea29h6853v9A9kA+UWIF+wrEIBCdHs/LGnrb0DkBbZwI18PlIGR5nztKi4u/CDi45oK/AgHCo3NpZ8RA6iOpIoMzlyPKdIOMPEZHfFKgWXcwidoHwAHLSSbnrUsHKOc7U9UJHys1p0wzHKLgLbkK6IbWcDa+bFu69PjiAKhzaWdfdHlwZSCkaGFzaIKkdHlwZQildmFsdWXEIL3v/HPW/LgvQzD4EfB3tGCWVnFnxkErUm2wVdCujxyWo3RhZ80CAqd2ZXJzaW9uAQ==

And finally, I am proving ownership of this host by posting or
appending to this document.

View my publicly-auditable identity here: https://keybase.io/crodrigues

==================================================================